body {
  color: #86878b;
  background-color: #ffffff;

  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 150px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

h1,
h2,
h3 {
  color: #333333;
}

h2 {
  text-transform: uppercase;
}

.section-title {
  width: 620px;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 80px;

  text-align: center;
}

.section-title h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 32px;
}

/*Header*/
.page-header h3,
.page-header h2 {
  color: #ffffff;
}

/*Navigation Bar*/
.navigation-bar {
  background-color: #000000;
}

.logo-small {
  float: left;
}

.main-navigation {
  float: right;
}

.page-header ul {
  list-style: none;
}

.page-header li {
  display: inline-block;

  margin-left: 45px;
}

.page-header a {
  text-decoration: none;

  color: #333333;
}

.page-header a:hover {
  color: #ffffff;
}

/*Trial*/
.trial-section {
  min-height: 650px;

  background-color: #9a9a9a;
}

.trial-description {
  float: left;

  max-width: 515px;
  margin-top: 110px;
}

.trial-description h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 32px;
}

.trial-form {
  float: right;

  min-width: 360px;
  min-height: 360px;
  margin-top: 146px;

  border-radius: 5px;
  background-color: #ffffff;
}

.trial-form h3 {
  width: 360px;
  margin: 0 auto;
  padding: 15px;

  text-align: center;

  color: #000000;
  border-radius: 5px 5px 0 0;
  background-color: #f5f5f5;

  font-size: 22px;
}

.trial-form .trial-info {
  text-decoration: none;
  text-transform: uppercase;

  color:#ff8b38;
}

.trial-form input {
  display: block;

  width: 280px;
  margin: 0 auto;
  margin-top: 38px;
  padding: 5px;
  padding-left: 10px;

  color: #333333;
  border: none;
  border-bottom: 1px solid #9a9a9a;
}

.trial-form input[type="submit"] {
  width: 100%;
  height: 50px;
  margin-top: 55px;

  color: #ffffff;
  border-radius: 0 0 5px 5px;
  background-color: #ff8b38;

}

.trial-form input[type="submit"]:hover {
  cursor: pointer;
}

/*Main*/
/*Social*/
.social-section {
  min-height: 106px;
}

.social-text {
  float: left;

  width: 365px;
}

.social-icons {
  float: right;
}

/*Tabs*/
.tabs-section {
  min-height: 595px;

  background-color: #f5f5f5;
}

.tabs-buttons {
  float: left;

  width: 120px;
  margin-right: 100px;
}

.tab-button {
  padding: 50px 36px;

  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #333333;
}

.tab-button:hover {
  cursor: pointer;
}

.tab-button:first-child {
  border-radius: 5px 5px 0 0;
}

.tab-button:last-child {
  border-bottom: none;
  border-radius: 0 0 5px 5px;
}

.tab-button-active {
  background-color: #ff8b38;
}

.tabs-content {
  float: left;

  width: 470px;
  margin-right: 90px;
}

.tabs-image {
  float: right;
}

.tabs-buttons,
.tabs-content,
.tabs-image {
  margin-top: 145px;
}

/*Sublist*/
.sublist-content {
  float: right;

  width: 435px;
  margin-top: 105px;
}

.sublist-image {
  float: left;

  margin-top: 128px;
  margin-bottom: 70px;
}

/*Standard Picture*/
.standard-picture-section {
  background-color: #f5f5f5;
}

.standard-picture-content {
  float: left;

  width: 475px;
  margin-top: 105px;
}

.standard-picture-image {
  float: right;

  margin-top: 128px;
  margin-bottom: 60px;
}

/*Features*/
.features-items {
  margin-bottom: 104px;
}
.feature-item {
  float: left;

  width: 355px;
  margin-right: 10px;

  text-align: center;
}
.feature-item:last-child {
  float: right;

  margin-right: 0;
}

/*Pricing*/
.pricing-section {
  background-color: #f5f5f5;
}
.pricing-options {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
}
.pricing-option {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;

  width: 345px;

  text-align: center;
}

.package-aspect {
  margin: 0;
}

.package-title {
  border-bottom: 2px solid #ffffff;
}

.package-title,
.package-price,
.package-plan {
  padding: 15px 0;

  color: #ffffff;
  background-color: #333333;
}

.package-feature {
  padding: 15px 0;

  color: #86878b;
  border-bottom: 1px solid #f5f5f5;
  background-color: #ffffff;
}

.package-plan {
  color: #9a9a9a;

  font-style: italic;
}

.package-plan:not(:nth-child(2)) {
  border-bottom: 4px solid #ff8b38;
}

.package-popular {
  padding: 15px 0;

  color: #ffffff;
  background-color: #ff8b38;
}

.package-feature,
.package-popular {
  text-transform: uppercase;
}

.package-price {
  padding-top: 30px;
}

.package-price span {
  font-size: 60px;
  font-weight: bold;
}
