body {
  color: #86878b;
  background-color: #ffffff;

  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 150px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

h1,
h2,
h3 {
  color: #333333;
}

h2 {
  text-transform: uppercase;
}


.page-header h3,
.page-header h2 {
  color: #ffffff;
}

.navigation-bar {
  background-color: #000000;
}

.logo-small {
  float: left;
}

.main-navigation {
  float: right;
}

.page-header ul {
  list-style: none;
}

.page-header li {
  display: inline-block;

  margin-left: 45px;
}

.page-header a {
  text-decoration: none;

  color: #333333;
}

.page-header a:hover {
  color: #ffffff;
}
.trial-section {
  min-height: 650px;

  background-color: #9a9a9a;
}
.trial-description {
  float: left;

  max-width: 515px;
}
.trial-form {
  float: right;

  min-width: 360px;
  min-height: 360px;

  background-color: #ffffff;
}
.trial-form input {
  display: block;

  color: #333333;
}

.trial-form h3 {
  color: #000000;
}
