
/*General*/
body {
  color: #86878b;
  background-color: #ffffff;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 150px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

h1,
h2,
h3 {
  color: #333333;
}

h2 {
  text-transform: uppercase;
}

.section-title {
  width: 620px;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 80px;

  text-align: center;
}

.divider {
  width: 65px;
  height: 3px;
  margin: 30px auto;

  background-color: #ff8b38;
}

.section-title h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 32px;
}

.btn {
  display: block;

  width: 130px;
  margin: 0 auto;
  padding: 7px 0;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
  border: 2px solid #ffffff;
}

.btn:hover {
  background-color: #ff8b38;
}

.large-image {
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.2);
}

/*Header*/
.page-header h3,
.page-header h2 {
  color: #ffffff;
}

/*Navigation Bar*/
.navigation-bar {
  position: fixed;
  z-index: 1000;

  background-color: #000000;
}

.logo-small {
  float: left;

  padding: 14px 0;
}

.logo b {
  color: #ffffff;

  font-size: 20px;
}

.logo span {
  color: #ff8b38;

  font-size: 20px;
}

.logo-small b,
.logo-small span {
  vertical-align: middle;
}

.main-navigation {
  float: right;
}

.page-header ul {
  list-style: none;
}

.page-header li {
  display: inline-block;

  margin-left: 45px;
}

.navigation-bar a {
  text-decoration: none;

  color: #b0b0b0;
}

.page-header a:hover {
  color: #ffffff;
}

/*Trial*/
.trial-section {
  min-height: 650px;

  background-color: #9a9a9a;
  background-image: url("../img/streets.jpg");
}

.trial-section .divider {
  margin: 30px 0;

  background-color: #ffffff;
}

.logo-large b,
.logo-large span {
  font-size: 60px;
}

.trial-description {
  float: left;

  max-width: 515px;
  margin-top: 110px;

  color: #ffffff;
}

.trial-description a {
  margin: 45px 0;
}

.trial-description h2 {
  text-align: left;

  font-size: 30px;
  font-weight: normal;
  line-height: 32px;
}

.trial-form {
  float: right;

  min-width: 360px;
  min-height: 360px;
  margin-top: 146px;

  border-radius: 5px;
  background-color: #ffffff;
}

.trial-form h3 {
  width: 360px;
  margin: 0 auto;
  padding: 15px;

  text-align: center;

  color: #000000;
  border-radius: 5px 5px 0 0;
  background-color: #f5f5f5;

  font-size: 22px;
}

.trial-form .trial-info {
  text-decoration: none;
  text-transform: uppercase;

  color: #ff8b38;
}

.trial-form input {
  display: block;

  width: 280px;
  margin: 0 auto;
  margin-top: 38px;
  padding: 5px;
  padding-left: 10px;

  color: #333333;
  border: none;
  border-bottom: 1px solid #9a9a9a;
}

.trial-form input[type="submit"] {
  width: 100%;
  height: 50px;
  margin-top: 55px;

  color: #ffffff;
  border-radius: 0 0 5px 5px;
  background-color: #ff8b38;

}

.trial-form input[type="submit"]:hover {
  cursor: pointer;
}

/*Main*/
/*Social*/
.social-section {
  min-height: 106px;
}

.social-text {
  float: left;

  width: 365px;
}

.social-icons {
  float: right;

  padding: 40px 0;
}

.social-icons a {
  padding-right: 50px;
}

.social-icons a:last-child {
  padding-right: 0;
}

/*Tabs*/
.tabs-section {
  min-height: 595px;

  background-color: #f5f5f5;
}

.tabs-buttons {
  float: left;

  width: 120px;
  margin-right: 100px;
}

.tab-button {
  padding: 50px 36px;

  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #333333;
}

.tab-button:hover {
  cursor: pointer;
}

.tab-button:first-child {
  border-radius: 5px 5px 0 0;
}

.tab-button:last-child {
  border-bottom: none;
  border-radius: 0 0 5px 5px;
}

.tab-button-active {
  background-color: #ff8b38;
}

.tabs-content {
  float: left;

  width: 470px;
  margin-right: 90px;

}

.tabs-content p {
  width: 470px;
}

.tab {
  float: left;
}

.tabs-image {
  float: right;
}

.tabs-buttons,
.tabs-content,
.tabs-image {
  margin-top: 145px;
}

.tabs-download-btn {
  margin: 45px 0;
  padding: 10px 0;

  border: none;
  border-radius: 5px;
  background-color: #ff8b38;
}

.tab-invisible {
  display: none;
}

/*Sublist*/
.sublist-content {
  float: right;

  width: 435px;
  margin-top: 105px;
  margin-bottom: 130px;
}

.sublist-section .divider {
  margin: 30px 0;
}

.sublist-image {
  float: left;

  margin-top: 128px;
  margin-bottom: 70px;
}

.tips {
  position: relative;

  width: 370px;
  margin-left: 80px;
}

.tips::before {
  position: absolute;
  top: -5px;
  left: -90px;

  display: table;

  width: 100px;
  height: 100px;

  content: "";

  background-image: url("../img/icon-cloud.png");
  background-repeat: no-repeat;
}

/*Standard Picture*/
.standard-picture-section {
  background-color: #f5f5f5;
}

.standard-picture-content {
  float: left;

  width: 475px;
  margin-top: 105px;
}

.standard-picture-image {
  float: right;

  margin-top: 128px;
  margin-bottom: 60px;
}

/*Features*/
.features-items {
  margin-bottom: 104px;
}
.feature-item {
  float: left;

  width: 355px;
  margin-right: 10px;

  text-align: center;
}
.feature-item:last-child {
  float: right;

  margin-right: 0;
}

/*Pricing*/
.pricing-section {
  background-color: #f5f5f5;
}

.pricing-title {
  padding-top: 105px;
}

.pricing-options {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: 96px;
}
.pricing-option {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;

  width: 345px;

  text-align: center;
}

.package-aspect {
  margin: 0;
}

.package-title {
  border-bottom: 2px solid #ffffff;
}

.package-title,
.package-price,
.package-plan {
  padding: 15px 0;

  color: #ffffff;
  background-color: #333333;
}

.package-feature {
  padding: 15px 0;

  color: #86878b;
  border-bottom: 1px solid #f5f5f5;
  background-color: #ffffff;
}

.package-plan {
  color: #9a9a9a;

  font-style: italic;
}

.package-plan:not(:nth-child(2)) {
  border-bottom: 4px solid #ff8b38;
}

.package-popular {
  padding: 15px 0;

  color: #ffffff;
  background-color: #ff8b38;
}

.package-feature,
.package-popular {
  text-transform: uppercase;
}

.package-price {
  padding-top: 30px;
}

.package-price span {
  font-size: 60px;
  font-weight: bold;
}

/*Reviews*/
.reviews-items {
  margin-right: 25px;
  margin-bottom: 100px;
  margin-left: 25px;
}

.reviews-items blockquote {
  position: relative;

  margin: 0;
  padding: 8px 15px;

  color: #86878b;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.reviews-items blockquote::after {
  position: absolute;
  bottom: -13px;
  left: 25px;

  display: table;

  width: 0;
  height: 0;

  content: "";

  border-width: 15px 10px 0 10px;
  border-style: solid;
  border-color: #f5f5f5 transparent transparent transparent;
}

.review-item cite {
  display: inline-block;

  margin-top: 35px;

  vertical-align: top;

  font-style: normal;
}

.review-item cite b {
  color: #000000;

  font-size: 20px;
}

.review-avatar {
  display: inline-block;

  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-right: 15px;

  content: "";

  border-radius: 50%;
  background-color: #9a9a9a;
}

.review-item {
  float: left;

  width: 275px;
  margin-right: 110px;
}

.review-item:last-child {
  float: right;

  margin-right: 0;
}

/*Download*/
.download-section {
  background-color: #9a9a9a;
  background-image: url("../img/street-sunset.jpg");
  background-position: 50% 50%;
}

.download-title {
  padding-top: 75px;

  color: #ffffff;
}

.download-section .divider {
  background-color: #ffffff;
}

.download-title h2 {
  color: #ffffff;
}

.download-btn {
  margin-top: -72px;
  margin-bottom: 60px;
}

/*Contact*/
.contact-form-left {
  float: left;
}

.contact-form-right {
  float: right;
}

.contact-form-fields input,
.contact-form-fields textarea {
  display: block;

  width: 500px;
  margin: 0 auto;
  margin-top: 38px;
  padding: 5px;
  padding-left: 10px;

  color: #333333;
  border: none;
  border-bottom: 1px solid #9a9a9a;
}

.contact-form-submit {
  clear: both;

  margin-bottom: 80px;
  padding-top: 50px;
}

.contact-form-fields input[type="submit"] {
  display: block;
  clear: both;

  width: 146px;
  height: 44px;
  margin: 0 auto;

  cursor: pointer;

  color: #ffffff;
  border-radius: 5px;
  background-color: #ff8b38;
}

/*Footer*/
.page-footer {
  text-align: center;

  color: #b0b0b0;
  background-color: #000000;
}

.footer-social {
  padding-top: 22px;
}

.footer-social a {
  margin-right: 28px;
}

.footer-social a:last-child {
  margin-right: 0;
}
